.contentwrapper.portfoliocontentwrapper
  .content-item.portfolioLoginform-1.w-clearfix
    .centerWrap
      img(src="../../Images/Pages/LoginForm-1/LoginForm.png", alt="").portfolioLoginForm-1Image