.contentwrapper {
  position: static;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

@media (max-width: 1096px) {
  .contentwrapper {
    width: 100%;
    margin-left: 0%;
    float: none;
    clear: none;
  }
}

.content-item {
  width: 100%;
  height: auto;
}

.god {
  padding: 65px 45px;
  background-image: -webkit-linear-gradient(270deg, #005ba9, #005ba9);
  background-image: linear-gradient(180deg, #005ba9, #005ba9);
}

.god2 {
  padding: 45px 65px;
  background-image: -webkit-linear-gradient(270deg, #b4ddbf, #b4ddbf);
  background-image: linear-gradient(180deg, #b4ddbf, #b4ddbf);
}

.god3 {
  padding: 45px 65px;
  background-color: #4a4a4a;
  color: #4a4a4a;
}

.image {
  width: 48%;
  margin-top: 25px;
  margin-left: 27%;
}

.image-2 {
  width: 70%;
  margin-bottom: -45px;
  margin-left: 17%;
}

.image-3 {
  width: 75%;
  margin: 45px auto -60px;
  margin-left: 12%;
}

.titlesub {
  margin-top: 0px;
  margin-left: 0px;
  float: none;
  clear: none;
  font-family: 'Source Sans Pro 200', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.title {
  margin-top: 5px;
  margin-left: 0px;
  float: left;
  font-family: 'Museosans 600', sans-serif;
  color: #fff;
}