.gallery {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #fff;
  overflow-y: scroll;
  opacity: 0; //display:none;
}

.gallerywrapper {
  position: relative;
}

.grid {
  text-align: center;
  max-width: 95vw;
  margin: 2.5vw auto;
}

.grid-item {
  padding: 5px;
  box-sizing: border-box;
  display: inline;
}

@media (min-width: 250px) {
  .grid-item {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: 25%;
  }
}

@media (min-width: 2100px) {
  .grid-item {
    width: 20%;
  }
}

.closeGallery {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 55px;
  font-size: 42px;
  height: 55px;
  padding: 7px 11px;
  color: #fff;
  z-index: 1;
  margin: 50px 20px;
  background-color: #3b80fe;
  border-radius: 50%;
  cursor: pointer;
}