.contentwrapper
  .content-item.god.w-clearfix
    img(src="Images/BradleyPJ.png", alt="").image
    .titlesub Development
    a(href="Pages/Mention").title Web Portfolio
    //a.contentlink.galleryToggle
      i.fas.fa-link
  //.content-item.god2.w-clearfix
    .imagewrap
        #image-item-1.imageitem
          img(src='https://img00.deviantart.net/d92c/i/2017/116/f/3/chichester_cathedral_by_zoolop-db76p5x.jpg', alt='')