.contentwrapper
  .content-item.god.w-clearfix
    img(src="Images/BradleyPJ.png", alt="").image
    .titlesub UI/UX
    .title Web 1
  .content-item.god2.w-clearfix
    img(src="Images/BradleyPJ2.png", alt="").image-2
    .titlesub UI/UX
    .title Web 1
  .content-item.god3.w-clearfix
    img(src="Images/BradleyPJ3.png", alt="").image-3
    .titlesub UI/UX
    .title Web 1