html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UNDER CONSTRUCTION
    link(rel="stylesheet", href="Styles/global.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,900|Roboto:100,900")
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.10/js/brands.js" integrity="sha384-6jhVhr5a+Z1nLr9h+fd7ocMEo847wnGFelCHddaOOACUeZNoQwFXTxh4ysXVam8u" crossorigin="anonymous")
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js" integrity="sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG" crossorigin="anonymous")
    script(src="Scripts/jquery.min.js")
    script(src="Scripts/main.js")
  body