.sidewrapper
  .aboutcontainer
    h1.about CODER. </br>THINKER. </br> VOLUNTEER.
    p.aboutcopy Bradley Jordan is a Experienced Web Developer and proud volunteer <a target="_blank" href="http://stonepillow.org.uk/" class="link">@StonePillow</a>
    .social
     a(href="").socialB
      i.fab.fa-codepen.codepen
      i.fab.fa-github.github
      i.fab.fa-twitter.twitter
      i.fab.fa-facebook.facebook

    a.btn.cb Say Hello!