.sidewrapper.porfoliosidewrapper
  .aboutcontainer
    h1.about Mention
    p.aboutcopy Insert intelligent commentary

    a(href="https://bradleypj.github.io/mention/Build/").btn.cb DEMO
    br
    a(href="../LoginForm-1/").btn.cb.viewdemoBtn Next Demo
    a(href="/").btn.cb.viewdemoBtn Previous Demo

  .demoBtnContainer.w-clearfix
    a.demoLink(href='/')
      .leftDemoBtn.demoBtn
        i.fas.fa-angle-left.demoArrows
    a.demoLink(href='../LoginForm-1/')
      .rightDemoBtn.demoBtn
        i.fas.fa-angle-right.demoArrows

